@use '../../stylesheets/mixins' as *;

.subscription {
  @include indents();
  @include flex(column, center, center, 16px);
  @include size(100%, 100%);

  &__title {
    font-weight: 700;
    font-size: 24px;
    color: var(--tg-theme-accent-text-color);
  }

  &__grid {
    @include flex(row, center, center, 18px);
    @include indents(60px 20px, 0);
    border-radius: 20px;
    border: 1px var(--tg-theme-section-bg-color) solid;
  }
}