@use '../../stylesheets/mixins' as *;

.profile {
  @include indents(20px, 0);
  @include flex(column, center, center, 16px);
  @include size(100%, 100%);

  &__button {
    @include main-button-style();
    @include size(240px, unset);
    align-self: center;
  }

  &__link {
    text-decoration: none;
    color: var(--tg-theme-link-color);
  }

  &__subStatus {
    color: green;
  }

  &__subStatusEnded {
    color: red;
  }

  &__text {
    color: var(--tg-theme-text-color);
  }
}