@use '../../stylesheets/mixins' as *;

.profile {
  @include indents(20px, 0);
  @include flex(column, center, center, 16px);
  @include size(100%, 100%);
  border: 1px red solid;

  &__link {
    text-decoration: none;
    color: var(--tg-theme-link-color);
  }

  &__subStatus {
    color: green;
  }

  &__subStatusEnded {
    color: red;
  }

  &__text {
    color: var(--tg-theme-text-color);
  }
}