@use '../../stylesheets/mixins' as *;

.profile {
  @include indents(20px, 0);
  @include flex(column, center, center, 16px);
  @include size(100%, 100%);

  &__buttons {
    @include flex(row, center, center, 16px);
    @include size(100%, unset);
  }

  &__subStatus {
    color: green;
  }

  &__subStatusEnded {
    color: red;
  }

  &__text {
    color: var(--tg-theme-text-color);
  }
}