* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

.nav {
  box-sizing: border-box;
  height: 5vh;
  display: flex;
  flex-direction: column;
  gap: 4px;

  &__container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 4px;
  }

  &__text {
    padding: 0;
    margin: 0 auto;
  }

  &__link {
    color: rgb(59, 59, 179);
    cursor: pointer;
    font-weight: 400;
    text-decoration: none;
  }
}