@use '../../stylesheets/mixins' as *;

.home {
  @include indents(0 20px 40px, 0);
  @include flex(column, center, center);
  @include size(100%, 100%);
  text-align: center;

  &__header {
    @include indents();
    @include flex(column, $align-items: center, $gap: 8px);
  }

  &__title, &__text {
    @include indents();
    color: var(--tg-theme-text-color);
  }

  &__title {
    @include indents(20px, 0 auto);
  }

  &__text {
    @include indents(8px 8px 20px, 0 auto);
  }
}