@use '../../stylesheets/mixins' as *;

.card {
  @include flex(row, center, center);
  @include indents();

  &__button {
    @include flex(column, center, center, 8px);
    @include button-style-reset();
    @include indents(16px 10px, 0);
    color: var(--tg-theme-button-text-color);
    border: 1px var(--tg-theme-hint-color) solid;
    background-color: var(--tg-theme-button-color);
    border-radius: 25px;
  }

  &__name {
    font-size: 16px;
    color: var(--tg-theme-text-color);
  }

  &__price {
    font-size: 16px;
    color: var(--tg-theme-subtitle-text-color);
  }
}