@use '../../stylesheets/mixins' as *;

.purchase {
  @include indents();
  @include flex(column, center, center, 16px);
  @include size(100%, 100%);

  &__title {
    font-weight: 700;
    font-size: 24px;
    color: var(--tg-theme-accent-text-color);
  }

  &__button {
    @include main-button-style();
    @include size(240px, unset);
  }
}