@use '../../stylesheets/mixins' as *;

.form {
  @include indents();
  @include flex(column, center, center, 16px);
  @include size(100%, 40%);
  border-radius: 20px;
  background-color: var(--tg-theme-section-bg-color);

  &__input {
    @include indents(16px, 0);
    @include size(290px, unset);
    background-color:  var(--tg-theme-section-bg-color);
    border: .5px var(--tg-theme-accent-text-color) solid;
    border-radius: 10px;
  }
}