@use '../../stylesheets/mixins' as *;

.form {
  @include indents();
  @include flex(column, space-between, center, 16px);
  @include size(100%, unset);

  &__input {
    @include indents(16px, 0);
    @include size(360px, unset);
    background-color: var(--tg-theme-secondary-bg-color);
    border: .5px var(--tg-theme-accent-text-color) solid;
    border-radius: 10px;
  }

  &__button {
    @include main-button-style();
  }
}